@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f2f2f2;
}

.btn {
  border-radius: 4px;
}
.btn.btn-primary {
  background-color: #eb4034;
  border-color: #eb4034;
}
.btn.btn-block {
  display: block;
  width: 100%;
}

.container-main {
  width: 100%;
  display: block;
}

header.main {
  padding: 1rem 0;
}
header.main .logo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header.main .logo img {
  max-width: 300px;
}

.container {
  max-width: 1200px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

.auth-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 1.5rem 0;
}
.auth-container .page-title {
  justify-content: center;
}

.form-group {
  margin-bottom: 1rem;
}

.form-text.error {
  color: crimson;
}

.page-title {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-title .title {
  font-size: 1.8rem;
}

.form-errors {
  background-color: rgba(255, 17, 0, 0.2);
  padding: 0.5rem;
  border-radius: 6px;
  color: #222;
  margin-bottom: 1.5rem;
}

.pending-message .title {
  font-weight: bold;
  margin-bottom: 1rem;
}
.pending-message .item {
  margin-bottom: 1rem;
}
.pending-message .item .name {
  font-weight: 600;
}

.admin-layout .container {
  width: 100%;
  max-width: none;
}
.admin-layout .content-main {
  display: flex;
  align-items: stretch;
  column-gap: 1rem;
  padding: 1rem;
}
.admin-layout .content-main aside.main {
  flex: 1;
}
.admin-layout .content-main aside.main nav.aside .nav-link {
  display: block;
  padding: 0.5rem 0;
}
.admin-layout .content-main main.main {
  flex: 5;
}

.form-title-divider {
  margin: 2rem 0 2rem 0;
  border-bottom: 4px solid #ddd;
}

.form-section-title {
  background-color: #eba337;
  color: #fff;
  font-weight: 600;
  padding: 0.4rem 1rem;
  margin: 1rem 0;
}

.form-section-subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.form-label {
  font-weight: 600;
}

.asterisk {
  color: crimson;
}

.control-col {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.control-col .country-code {
  width: 160px;
  margin-right: 1rem;
  font-size: 0.8em;
}
.control-col .form-control {
  flex: 1;
}
.control-col .form-text {
  flex: 1 0 100%;
}

.list-profile-photo {
  width: 40px;
  border-radius: 4px;
}

.form-family-details {
  padding: 0.5rem;
  background-color: #eee;
  border-radius: 6px;
  display: none;
}
.form-family-details .control-col {
  margin-bottom: 1rem;
}

.member-view .header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.member-view .header .member-photo img {
  width: 140px !important;
}

.detail-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.detail-list li {
  display: flex;
}
.detail-list li .label {
  flex: 2;
  max-width: 200px;
}
.detail-list li .value {
  flex: 4;
}

.proof_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.proof_list li {
  flex: 1 0 50%;
  margin-bottom: 1.5rem;
}
.proof_list li .image img {
  border-radius: 6px;
}
.proof_list li .title {
  font-size: 0.8em;
}

.request-action {
  padding: 2rem 0;
}

.member-relation {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  margin-bottom: 1.5rem;
  background-color: bisque;
}
.member-relation .image {
  margin-right: 1rem;
}
.member-relation .value {
  display: flex;
  flex-direction: column;
}
.member-relation .btn {
  margin-left: auto;
}

.id-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.id-card {
  width: 400px;
  background-color: orange;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid orange;
}
.id-card .photo {
  margin-top: 2rem;
  width: 140px;
  border-radius: 6px;
  overflow: hidden;
}
.id-card .photo img {
  width: 100%;
}
.id-card .name {
  font-size: 1.4rem;
  font-weight: 600;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 1.5rem 0;
}
.id-card .id-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  text-align: center;
}
.id-card .id-wrapper .item {
  padding: 0.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid orange;
}
.id-card .id-wrapper .item:last-child {
  border: none;
}
.id-card .id-wrapper .label {
  font-size: 0.7em;
  display: block;
}
.id-card .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.id-card .logo-wrapper .item {
  flex: 1;
  text-align: center;
  padding: 0.5rem;
}
.id-card .logo-wrapper .item img, .id-card .logo-wrapper .item svg {
  max-width: 60%;
}
.id-card .logo-wrapper .item svg {
  height: auto !important;
}
.id-card .footer {
  background-color: #fff;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.id-card .footer .item {
  padding: 0.5rem;
  font-size: 0.8em;
}/*# sourceMappingURL=app.css.map */