// breakpoints
$screen-sm-min: 576px; //landscape
$screen-md-min: 768px; //portrait
$screen-lg-min: 992px; //tab&desktop
$screen-xl-min: 1200px; //large tab&desktop

$max-screen-width: 100%;
$sidebar-width: 260px;
$header-height: 60px;