@import "./font";
@import "./variables";
@import "./theme";
@import "./mixins";
@import "./layout";
@import "./header";
@import "./footer";


body, html{
    margin: 0 !important;
    padding: 0;
    background-color: #f8f8f8;
    display: block;
}
a{
    &:hover{
        text-decoration: none;
    }
}
.justify-self-end{
    margin-left: auto;
}
.form-group{
    margin-bottom: 1rem;
    &.no-margin{
        margin: 0;
    }
}
.form-title-divider{
    margin:2rem 0 2rem 0;
    border-bottom: 4px solid #ddd;
}
.form-section-title{
    background-color: #eba337;
    color: #fff;
    font-weight: 600;
    padding:0.4rem 1rem;
    margin: 1rem 0;
}
.form-section-subtitle{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0;
}
.form-label{
    font-weight: 600;
}
.asterisk{
    color: crimson;
}
.no-padding{
    padding: 0 !important;
}
.no-margin{
    margin: 0 !important;
}
.control-col{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .country-code{
        width: 160px;
        margin-right: 1rem;
        font-size: 0.8em;
    }
    .form-control{
        flex: 1;
    }
    .form-text{
        flex: 1 0 100%;
    }
}
.list-profile-photo{
    width:40px ;
    border-radius: 4px;
}
.form-family-details{
    padding: 0.5rem;
    background-color: #eee;
    border-radius: 6px;
    display: none;
    .control-col{
        margin-bottom: 1rem;
    }
}

.btn{
    &.sidebar-toggle{
        padding: 0.2rem;
        font-size: 1.5rem;
        border: none;
        display: flex;
        align-items: center;
        &:focus{
            border:none;
        }
    }
    .icon{
        width: 14px;
        height: 14px;
        margin:0 0.2rem;
    }
    &.btn-xs{
        font-size: 0.9em;
        padding: 0.4rem;
    }
    &.btn-primary{
        background-color: $color-primary;
        border-color: $color-primary;
        &:hover,&:active,&:focus{
            background-color: $color-primary-dark;
            border-color: $color-primary-dark;
        }
    }
    &.btn-outline-default{
        border-color: #ddd;
        color: #666;
    }
    &.btn-outline-primary{
        border-color: $color-primary;
        color: $color-primary;
    }
}
.avatar{
    text-decoration: none;
    color: #333;
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    font-size: 0.8rem;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img{
        width: 100%;
    }
    &::after{
        content: none;
    }
}
.avatar-dropdown{
    padding: 0;
    .title{
        width: 300px;
        padding:1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #ddd;
        .avatar{
            width: 80px;
            height: 80px;
        }
        .name{
            font-weight: 600;
            margin-top: 1rem;
        }
    }
    .dropdown-item{
        padding: 1rem;
    }
}

.main-menu{
    padding-top: 0.5rem;
    .title{
        padding:0 1rem;
        font-size: 0.7em;
        color: #999;
        font-weight: 400;
        text-transform: uppercase;
    }
    .nav{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            width: 100%;
            padding-left: 0.5rem;
            &.active{
                > .nav-item{
                    color: crimson;
                }
            }
            .nav-item{
                padding:0.5rem 1rem 0.5rem 0.5rem;
                color: #333;
                text-decoration: none;
                display: flex;
                align-items: center;
                font-size: 0.9rem;
                font-weight: 500;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                .icon{
                    width: 16px;
                    height: 16px;
                    margin-right: 0.5rem;
                }
                i{
                    color: #999;
                    padding-right: 0.5rem;
                }
                &.active{
                    color: crimson;
                }
                &.btn-toggle{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: rgba(0,0,0,0.05);
                    &::after{
                        content: '\f054';
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        font-size: 0.65rem;
                        transform: rotate(90deg);
                        transition: all 200ms ease;
                        color: rgba(0,0,0,0.6);
                        margin-left: auto;
                    }
                    &.collapsed{
                        background-color: transparent;
                        &::after{
                            transform: rotate(0);
                        }
                    }
                }
            }
            .sub-nav{
                width: 100%;
                padding-left: 0.5rem;
                font-size: 0.9em;
                .nav{
                    li{
                        position: relative;
                        &::before{
                            content: '';
                            width: 1px;
                            background-color: rgba(0,0,0,0.6);
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                        }
                        &:last-child{
                            &::before{
                                bottom: 50%;
                            }
                        }
                        .nav-item{
                            position: relative;
                            font-weight: 400;
                            &::before{
                                content: '';
                                width: 0.8rem;
                                height: 1px;
                                background-color: rgba(0,0,0,0.6);
                                position: absolute;
                                top: calc(50% - 1px);
                                left: -0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
.page-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title{
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0;
    }
    .sub-title{
        font-size: 0.8em;
        color: #666;
    }
}
.box-title{
    .title{
        font-size: 1.2rem;
        font-weight: 400;
    }
}
.page-content{
    padding: 0 1rem;
}
.box-list{
    .avatar{
        width: 40px;
        height: 40px;
        border-radius: 6px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
}
.table-boxed{
    border-collapse:separate; 
    border-spacing: 0 1em;
    thead{
        tr{
            th{
                font-size: 0.7em;
                font-weight: 400;
                color: #666;
                border: none;
                text-transform: uppercase;
            }
        }
    }
    tbody{
        tr{
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            td{
                vertical-align: middle;
                border: none;
                .name{
                    font-weight: 600;
                }
            }
        }
    }
}
table.list{
    .actions{
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        justify-content: flex-end;
    }
}
.box-list{
    margin: 0;
    padding: 0;
    list-style: none;
    .item{
        margin-bottom: 0.5rem;
        &:last-of-type{
            margin: 0;
        }
        .primary{
            display: flex;
            flex-wrap: wrap;
            border-radius: 6px;
            border: 1px solid #e1e7e8;
        }
        .avatar{
            align-self: center;
            margin: 0.4rem;
        }
        .details{
            padding-left: 1.5rem;
            flex: 1;
            width: 60%;
            display: flex;
            padding: 0.4rem;
            .col{
                flex: 1;
                .label{
                    display: block;
                    font-weight: 600;
                    color: $color-grey-600;
                    text-transform: uppercase;
                    font-size: 0.7em;
                }
                .sub{
                    .label{
                        display: inline-block;
                        padding-right: 0.5rem;
                    }
                }
                &.name{
                    width: 70%;
                }
                &.unit{
                    width: 10%;
                }
                &.type{
                    width: 10%;
                }
                &.status{
                    width: 10%;
                }
                .relation-expand{
                    border: none;
                    background: none;
                    padding: 0;
                    color: #666;
                    margin-left: 0.5rem;
                }
            }
        }
        .actions{
            width: 10%;
            padding: 0.4rem;
            padding-right: 1rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .btn{
                color: $color-primary;
            }
        }
        .relations{
            background-color: #edf3f5;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            margin-left: 0.4rem;
            margin-right: 0.4rem;
            padding: 0.2rem 0.5rem;
            font-size: 0.8em;
            display: none;
            .item{
                display: flex;
                align-items: center;
                padding: 0.2rem 0;
                border-bottom: 1px solid #fff;
                &:last-of-type{
                    border: none;
                }
                .relationship{
                    text-transform: uppercase;
                    font-size: 0.7em;
                    width: 40px;
                }
                .details{
                    padding: 0;
                    padding-left: 1rem;
                    a{
                        text-decoration: none;
                        color: inherit;
                        &:hover{
                            color: $color-primary;
                        }
                    }
                    .mid{
                        font-weight: 600;
                    }
                    .label{
                        display: inline-block;
                    }
                }
            }
        }
    }
}
.table-list{
    .list-profile-photo{
        width:40px ;
        border-radius: 4px;
    }
    td{
        vertical-align: middle;
        &.actions{
            text-align: right;
        }
    }
}

.profile-view{
    display: flex;
    align-items: stretch;
    >.pf-main{
        flex: 3;
    }
    >.pf-aside{
        flex: 1;
        border-left: 1px solid $border-color;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        .actions{
            margin-bottom: 1.5rem;
            .action-buttons{
                justify-content: flex-end;
            }
        }
    }
    .pf-face{
        display: flex;
        align-items: stretch;
        padding: 1.5rem;
        .pf-name{
            font-weight: 600;
            font-size: 1.2rem !important;
        }
        .pf-info-item{
            font-size: 0.9rem;
            color: #666;
            display: flex;
            align-items: center;
            column-gap: 0.4rem;
            .label{
                color: $color-grey-600;
            }
            .icon{
                width: 14px;
                height: 14px;
                color: #999;
                margin-right: 0.5rem;
            }
        }
        .col-left{
            flex: 1;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            padding: 1.5rem;
            padding-right: 0;
            >.info{
                flex: 1;
            }
            .profile-actions{
                display: none;
            }
        }
    }
    .pf-content{
        display: flex;
        align-items: stretch;
        .pf-tab{
            flex: 3;
            .nav{
                padding: 0 1.5rem;
                .nav-link{
                    cursor: pointer;
                    color: #333;
                    padding: 0.5rem 1rem;
                    &.active{
                        color: $color-primary;
                    }
                }
            }
            .tab-content{
                padding:2rem  1.5rem;
                
            }
        }
        .pf-aside{
            flex: 1;
        }
    }
    @include xs{
        flex-direction: column;
        align-items: flex-start;
        >.pf-main{
            width: 100%;
        }
        >.pf-aside{
            padding: 0.5rem;
            .profile-actions{
                display: none;
            }
        }
        .pf-face{
            flex-direction: column;
            align-items: center;
            padding:1rem 0;
            .photo{
                width: 80px;
                height: 80px;
            }
            .col-left{
                padding: 0;
                width: 100%;
                flex-direction: column;
                .profile-actions{
                    display: block;
                    .action-buttons{
                        justify-content: center;
                    }
                }
                .info{
                    text-align: center;
                    .pf-info-item{
                        text-align: center;
                        justify-content: center;
                    }
                    .pf-name{
                        font-size: 1rem !important;
                    }
                }
            }
        }
        .pf-content{
            .pf-tab{
                .nav{
                    padding: 0.5rem;
                    justify-content: center;
                }
                .tab-content{
                    padding: 0.5rem;
                }
            }
        }
    }
}
.photo-profile{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgba(0,0,0,0.1);
    img{
        width: 100%;
    }
}
.proof-display{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .item{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;
        }
    }
}
.proof-text{
    font-size: 1.4rem;
    margin-right: auto;
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    color: red;
}
.member-relation-box{
    border: 1px solid #f7e2a6;
    background-color: #faf5e6;
    padding: 0.4rem;
    border-radius: 100px;
    display: inline-block;
    margin: 0.4rem 0;
    .box-content{
        display: flex;
        align-items: center;
        .image{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .value{
            font-size: 0.9em;
            padding:0 0.5rem;
        }
        .btn{
            font-size: 0.75em;
            padding: 0.1rem 0.4rem;
            border: 1px solid #f0d486;
            line-height: normal;
            background-color: #f7e2a6;
        }
    }
    @include xs{
        border-radius: 0;
        width: 100%;
        border-left: none;
        border-right: none;
        .box-content{
            width: 100%;
            justify-content: center;
            .value{
                font-size: 0.8em;
            }
        }
    }
}
.action-buttons{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    li{
        .btn{
            &::after{
                content: none;
            }
        }

    }
}
.page-col-wrapper{
    display: flex;
    column-gap: 1rem;
    row-gap: 1rem;
    .col-sub{
        flex: 2;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    .col-main{
        flex: 4;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    @include xs{
        flex-direction: column;
    }
}
.card{
    border-color: $border-color;
    @include box-shadow;
    .card-header{
        background-color: #fff;
        border-bottom-color: $border-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title{
            font-weight: 600;
        }
    }
    .card-footer{
        background-color: transparent;
        display: flex;
        justify-content: space-between;
    }
    &.card-warning{
        border: 1px solid #f7e2a6;
        background-color: #faf5e6;
        .card-header{
            background-color: #f7e2a6;
        }
    }
}
.list-basic{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        display: flex;
        align-items: center;
        line-height: 1.25rem;
        padding: 0.2rem 0;
    }
    td{
        padding: 0.2rem 0;
    }
    .label{
        color: $color-grey-600;
        font-size: 0.875rem;
        min-width: 150px;
    }
    .value{
        color: #071437;
        font-size: 0.875rem;
        flex: 1;
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        .link{
            font-size: 0.7rem;
            .icon{
                width: 16px;
                height: 16px;
            }
        }
    }
}
.dropdown-menu{
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    li{
        .dropdown-item{
            font-size: 0.8rem;
            font-weight: 600;
            color: #666;
            &.disabled{
                color: #999;
            }
            &:focus,&:active{
                background-color: $color-primary;
                color: #fff;
            }
        }
    }
}
.status-pill{
    font-size: 0.6rem !important;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0.2rem 0.4rem;
    line-height: normal;
    background-color: #eee;
    border-radius: 50px;
    display: inline-block;
    margin: 0 0.5rem;
    &.active{
        border-color: #10e372;
        background-color: #bbfcd9;
        color: #019144;
    }
    &.inactive{
        border-color: #ddd;
        background-color: #eee;
        color: #666;
    }
    &.rejected{
        border-color: #ed7288;
        background-color: #ffe3e8;
        color: #b50526;
    }
    &.dormant{
        border-color: #e0d753;
        background-color: #faf7cd;
        color: #a39905;

    }
}
.request-status-list{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        padding: 0 0 1rem 0;
        padding-left: 25px;
        position: relative;
        color: rgba(0,0,0,0.4);
        .title{
            font-weight: 500;
        }
        .description, .date{
            font-size: 0.9em;
        }
        .remark{
            font-size: 0.8em;
        }
        &.saved,&.submitted{
            .description, .remark{
                display: none;
            }
        }
        &::before{
            content: '\f058';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            position: absolute;
            left: 0;
            top: 1px;
            color: rgba(0,0,0,0.1);
            z-index: 1;
        }
        &::after{
            content: ' ';
            width: 1px;
            background-color: #ddd;
            position: absolute;
            top:1.5rem;
            bottom: 0;
            left: 0.5rem;
        }
        &:last-child{
            padding-bottom: 0;
            &::after{
                content: none;
            }
        }
        &.active{
            .title{color: #222;}
            .description{color: #666;}
            .date{color:#000}
            .remark{ color: #222;}
            &::before{
                color: green;
            }
            &::after{
                background-color: green;
            }
        }
        &.active-rejected{
            .title{color: crimson;}
            .remark{
                color: crimson;
                font-size: 0.8em;
            }
            &::before{
                color: crimson;
            }
            &::after{
                background-color: #ddd;
            }
        }
    }
}
.id-card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
}
.id-card{
    width: 400px;
    background-color: orange;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid orange;
    .photo{
        margin-top: 2rem;
        width: 140px;
        border-radius: 6px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    .name{
        font-size: 1.4rem;
        font-weight: 600;
        text-shadow: 0 5px 5px rgba(0,0,0,0.1);
        color: #fff;
        padding: 1.5rem 0;
    }
    .id-wrapper{
        background-color: rgba(255,255,255,0.5);
        flex: 1;
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        text-align: center;
        .item{
            padding: 0.5rem;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-right: 1px solid orange;
            &:last-child{
                border: none;
            }
        }
        .label{
            font-size: 0.7em;
            display: block;
        }
    }
    .logo-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        .item{
            flex: 1;
            text-align: center;
            padding: 0.5rem;
            img, svg{
                max-width: 60%;
            }
            svg{
                height: auto !important;
            }
        }
    }
    .footer{
        background-color: #fff;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        .item{
            padding: 0.5rem;
            font-size: 0.8em;
        }
    }
}

.relative-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    .relative-card{
        border: 1px solid #ddd;
        border-radius: 6px;
        .card-body{
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            .photo-profile{
                width: 100px;
                height: 100px;
            }
            .card-content{
                padding: 1rem 0 0 0;
                .title{
                    font-size: 1.2em;
                    font-weight: 600;
                    text-align: center;
                }
                .info{
                    text-align: center;
                    font-size: 0.9em;
                    color: #666;
                }
            }
        }
    }
}

.typeHead-result{
    .btn.btn-xs{
        font-size: 0.8rem !important;
        padding: 0.2rem 0.4rem !important;
    }
}

.event-list{
    .event-title{
        display: flex;
        align-items: center;
    }
    .event-thumb{
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1.5rem;
        img{
            width: 100%;
        }
    }
    .col-info{
        line-height: normal;
        font-size: 0.8em;
        &.block{
            display: block;
        }
    }
    .actions{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 0.5rem;
    }
}
.event-view{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    overflow: hidden;
    .event-view_cover{
        height: 400px;
        position: relative;
        overflow: hidden;
        .cover-image{
            position: absolute;
            top:0; right: 0; bottom: 0; left: 0;
            img{
                width: 100%;
            }
        }
        
    }
    .event-view_content{
        .event-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 1rem;
            border-bottom: 1px solid #ddd;
            .event-title{
                .title{
                    font-weight: 600;
                    font-size: 2rem;
                }
            }
        }
        .nav{
            .nav-item{
                .nav-link{
                    padding: 1rem;
                }
            }
        }
        .tab-content{
            .tab-pane{
                padding: 1rem;
            }
        }
    }
}

.eventPassCard{
    width: 540px;
    height:540px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 10px;
    color: #fff;
    .header{
        .title{
            font-size: 2rem;
            text-align: center;
        }
        .info{
            font-size: 0.9rem;
            text-align: center;
        }
    }
    .card-title{
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
    }
    .qr-container{
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .qr{
            width: 200px;
            height: 200px;
            background-color: #fff;
            padding: 0.5rem;
            svg,img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .card-info{
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.count-boxes{
    display: flex;
    align-items: stretch;
    column-gap: 1rem;
    .item{
        padding: 0.8rem 1.5rem;
        border: 1px solid #ddd;
        border-radius: 6px;
        .title{
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        .count{
            label{
                color: #666;
                width: 20%;
                min-width: 100px;
            }
        }
    }
}